In [1]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\kunja\anaconda3\lib\site-packages (1.1.2)

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [11]:
engine = create_engine(
    "mysql+pymysql://root:sravani@localhost/churn_analysis"
)

In [12]:
pd.read_sql("SELECT 1", engine)

   1
0  1

In [13]:
df = pd.read_sql("SELECT * FROM customer_master", engine)
df.shape

(1000, 13)

In [14]:
df.columns

Index(['customer_id', 'age', 'gender', 'region', 'plan_type',
       'monthly_charges', 'tenure_months', 'data_usage_gb', 'call_minutes',
       'payment_method', 'payment_status', 'churn_flag', 'churn_date'],
      dtype='object')

In [15]:
df['churn_flag'].value_counts()

churn_flag
No     706
Yes    294
Name: count, dtype: int64

In [16]:
(df['churn_flag'].value_counts()['Yes'] / len(df)) * 100

np.float64(29.4)

In [17]:
df[df['churn_flag'] == 'Yes']['monthly_charges'].sum()

np.int64(139906)

In [18]:
df.groupby(['plan_type', 'churn_flag']).size().unstack()

churn_flag   No  Yes
plan_type
Basic       300   93
Premium     171   84
Standard    235  117

In [19]:
df.groupby(['region', 'churn_flag']).size().unstack()

churn_flag   No  Yes
region
East        156   69
North       183   75
South       183   87
West        184   63

In [20]:
df.groupby('churn_flag')[['data_usage_gb', 'call_minutes']].mean()

            data_usage_gb  call_minutes
churn_flag
No              12.666289    456.983003
Yes             12.574830    472.408163

In [21]:
pd.crosstab(df['payment_status'], df['churn_flag'])

churn_flag       No  Yes
payment_status
Failed          119   43
Success         587  251

In [22]:
df.groupby('churn_flag')['tenure_months'].mean()

churn_flag
No     30.240793
Yes    29.948980
Name: tenure_months, dtype: float64